.login_form
  width 200px
  //height 240px
  background-color #ffffff
  display: none
  position: fixed
  right: 0
  top: 50px
  box-shadow #444444 0px 10px 14px -2px
  .header
    margin-top 20px
    padding 5px 0
    background-color #f1f3f8
    span
      color #82b9fe
      font-size 12px
      padding 5px 20px
  .content
    padding 0px 20px 30px 20px
    .input
      position relative
      border 1px solid #dddddd
      border-radius 5px
      padding 5px 0
      margin-top 20px
      img
        position absolute
        left 10px
        top 7px
      input
        width 125px
        border 0px solid #ffffff
        margin 0 0 0 28px
    .login_error
      min-height 20px
      p
        display none
        color red
        padding 5px 0
    .username
      margin-top 0px
    .login_btn
      margin-top 20px
      button
        width 100%
        height 25px
        background-color #5faaff
        border-radius 5px
        color #ffffff
        border 0
        cursor pointer
    .links
      margin-top 20px
      width 100%
      font-size 12px
      .forget
        color #999999
        float left
      .register
        color #5faaff
        float right





